.content {
  display: none;
  position: relative;
  min-height: 800px;
  height: 100%;
}

.button {
  display: inline-block;
  width: 180px;
  text-align: center;
  padding: 10px 30px;
  margin: 10px auto;
  font: 16px 'Oswald', sans-serif;
  background-color: #244f9a;
  color: #ffffff;
  border-radius:5px;
  cursor: pointer;
}

.parking {
  display: inline-block;
  margin-left: 45px;
  cursor: pointer;
}

.parking p {
  text-align: center;
  text-shadow: 2px 2px #cccccc;
  font: 24px 'Times New Roman', serif;
}
