body {
	background-color: #e6f7ff;
  overflow-x: hidden;
}

.header {
  height: 200px;
}

.header, #footer{
  position: relative;
}

.header img, #footer img {
  width: 100%;
}

.wrapper, #footer {
  min-width: 800px;
  margin: auto;
  width: 800px;
}

.blured {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  filter: blur(2px);
}

.backbone {
  height: 100%;
  min-width: 800px;
  width:800px;
  min-height:800px;
  background-color: rgba(255,255,255,0.5);
  overflow:hidden;
  position:absolute;
  top:110px;
  border-radius:10px;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  filter: blur(2px);
}

.blured img {
  width: 100%;
  height: 100%;
  position: fixed;
  min-height: 1000px;
  min-width: 1500px;
}
